<div class="container-fluid container-fluid-custom pb-5 mb-5">

  <form class="nav col-10 col-md-auto flex-fill mb-5 justify-content-center search-form" role="search" method="POST" style="margin-right: 30px;margin-left: 100px; margin-bottom: 30px;margin-top: 20px;" action="/dashboard/search">
    <div class="input-group">
      <input type="search" name="searchTerm" class="form-control border-primary search-input" placeholder="Search..." aria-label="Search">
      <div class="input-group-append">
        <span class="input-group-text"><i class="fas fa-search"></i></span> <!-- Ikon Search dari Font Awesome -->
      </div>
    </div>
  </form>
  
 



  <div class="row mx-5">
    <% if(searchResults != '') { %>
      <% searchResults.forEach(function (note, index) { %>
        
        <div class="col-sm-3 mb-4">
          <div class="card border-primary" style="min-height: 210px">
            <a href="/dashboard/item/<%= note._id %>" class="card-body text-decoration-none">
              <h5 class="card-title"><%= note.title %></h5>
              <p class="card-text"><%= note.body %></p>
            </a>
          </div>
        </div>

      <% }) %>
    <% } else { %>
      <p>No items found.</p>
    <% } %>

  </div>

</div>
