<section id="home">
  <div class="container-fluid container-fluid-custom py-md-4 mb-5 ">
      <main>
        <br><br><br><br>
        <div class="landing">
          <div class="row py-md-5 text-center justify-content-center">
            <div class="col-md-12 col-lg-6 mb-6 mb-md-4">
              <h1 class="display-2 fw-bold mb-2 home-title">
                Write down your thoughts anywhere and anytime
              </h1>
              <p class="fs-8 mb-5">
                Now create and store your notes digitally , in one.
              </p>
              <a href='/auth/google' id="bts-home" class="btn btn-primary btn-lg">Get Started !</a>
  
            </div>
        </div>
  
        </div>
      </main>
    </div>
</section>
  <!-- about section starts -->
  <section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-12">
                <div class="about-img">
                    <img src="/css/notes.png" width="380px" class="imn">
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
                <div class="about-text">
                      <h2>ABOUT <br/> Application</h2>
                      <p align="justify">   Notelyy App is a trailblazer in personal information management through a web-based platform that delivers an unparalleled note-taking experience. With easy note creation, deep-text editing, and efficient organization based on categories, NotaWeb provides an intuitive and adaptive solution for the needs of modern users. The sophisticated search system ensures quick information retrieval, while automatic task reminders help maintain productivity without missing a beat. NotaWeb's excellence is also reflected in its multi-platform synchronization, facilitating access from various devices, coupled with high-level data security, instilling confidence in online note-taking. With NotaWeb, living an organized and planned life becomes easier and more enjoyable.</p>
                      
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact starts -->
<section id="contact" class="contact">
  <div class="container mt-5 mb-5">
      <div class="row">
          <div class="col-md-12">
              <div class="section-header text-center pb-5">
                <br><br><br>
                  <h2>Contact Us</h2>
                  <p>We appreciate your suggestions and input. Send us your ideas or feedback</p>
              </div>
          </div>
      </div>
<div class="row m-0">
  <div class="col-md-12 p-0 pt-4 pb-4">
    <form action="/contact" class="bg-light p-4 m-auto" method="POST">
      <div class="row">
        <div class="col-md-12">
          <div class="mb-3">
            <input class="form-control" name="name" id="name" placeholder="Full Name" type="text" required>
          </div>
        </div>
        <div class="col-md-12">
          <div class="mb-3">
            <input class="form-control" name="email" id="gmail" placeholder="Email" type="email" required>
          </div>
        </div>
        <div class="col-md-12">
          <div class="mb-3">
            <textarea class="form-control" name="message" id="message" placeholder="Message"  rows="3"required></textarea>
          </div>
        </div><input type="submit" value="Submit" class="btn btn-primary animate__animated animate__fadeInUp">
      </div>
    </form>
    <div class="status-message"></div>
  </div>
</div>
</div>
</section>
